/* .App {
  text-align: center;
} */

.write{
  border: 1px solid black;
  margin: 30px 15px;
  padding: 10px;
  width: 600px;
}

.write > input{
  margin: 10px;
}

.search{
  margin: 20px;
}

.search > input{
  margin: 15px;
}

.result{
  margin: 20px;
  text-align: center;
}
